.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 20px;
      flex-direction: column;
    }
  }
  